.env
node_modules
/local.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/7.4/executionHistory/executionHistory.lock
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/7.4/fileHashes/resourceHashesCache.bin
